<!-- Creado por Luis Alberto Forero cali-valle el 16-06-2021 -->

{{define "editar"}}
{{template "cabecera"}}

<div class="card">
    <div class="card-header">
        Registro Empleado
    </div>
    <div class="card-body">
    <form method="post" action="/actualizar">

    
    <input type="hidden" value={{.Id}} class="form-control" name="id" id="id" placeholder="">

    <div class="form-group">
      <label for="">Nombre:</label>
      <input type="text" class="form-control" name="nombre" value={{.Nombre}} id="nombre" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Ingresa Nombre</small>

      <div class="form-group">
        <label for="">Correo:</label>
        <input type="email" class="form-control" name="correo" value={{.Correo}} id="correo" aria-describedby="emailHelpId" placeholder="">
        <small id="emailHelpId" class="form-text text-muted">Ingresa Correo</small>

        <br/>
        <button type="submit" class="btn btn-success">Modificar Empleado</button>
        <a name="" id="" class="btn btn-primary" href="/" role="button">Cancelar</a>
      </div>
    </div>

    </div>
</div>
{{template "pie"}}
{{end}}